  .column {
    float: left;
    padding: 20px;
  }

body{
      box-sizing: border-box;
  }

.homepage-paragraph{
    margin-top: 20%;
    font-style: normal;
    font-weight: 500;
    font-size: xxx-large;
    background-color: rgb(228, 228, 228);
    color: rgb(135, 135, 135);
}


#firstpg-paragraph{
    background-color: rgb(228, 228, 228);
    color: rgb(135, 135, 135);
}

.counter-img {
    /* background-image: url(../assets/Fireworks-bkcgrnd.jpg); */
    background-attachment: fixed;
    /* background-size: 100%; */
    color: white;
}