ul{
    list-style-type: none;
    overflow: hidden;
    color: red;
}

li{
    float: right;
    color: rgb(151, 157, 180);
}

Link{
    color: rgb(96, 96, 96);
}

Link:visited{
    color: rgb(96, 96, 96);
    font-style: oblique;
    text-decoration: none;
}

.navbar-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(228, 228, 228);
}

li a{
    /* display block put the list in the middle */
    /* padding creates space between the words */
    display: block;
    padding: 20px;
    color: rgb(96, 96, 96);
    text-decoration: none;
}