@mixin display-grid-foroutput {
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-template-rows: auto;
}

@mixin page-images{

        box-sizing: border-box;
      
        float: left;
        width: 33.33%;
        padding: 5px;

        content: "";
        clear: both;
        display: table;
      
}

//Colors
// $border_color: red;
// $font_color: green;

// //Font
// $aladin: 'Aladin', cursive;
// $bad_script: 'Bad Script', cursive;
// $charm: 'Charm'